/*---------------------------header---------------------------*/

.banner {
    background-image: url(image/Arcaea-interview-5.jpg);
    background-size: cover;
    height: 75vh;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.navbar {
    height: 10vh;
    display: flex;
    font-size: 5vh;
    background-color: rgb(236, 161, 255, .4);
    align-items: center;
}

.links {
    margin-left: auto;
    margin-right: 20vh;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 2vh 0 2vh;
}

.title {
    text-align: center;
    margin: 10vh 0 5vh 0;
    font-size: 8em;
    font-style: italic;
    color: #ffe5a8;
}

.description {
    text-align: center;
    font-size: 1.8em;
    color: rgb(199, 106, 239);
    font-family: 'Brush Script MT', cursive;
}

/*----------------------------------------------------------*/
/*--------------------------main------------------------*/

main p {
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(235, 235, 235);
    margin: 0;
}

.intro {
    display: flex;
    gap: 7vw;
    margin: 10vh 10vw 5vh 10vw;
    height: 40vh;
}
.intro div {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.cover {
    padding: 5vh 0 5vh 0;
    text-align: center;
}

.cover2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover img {
    width: auto;
    height: 100%;
    border-radius: 20px;
}

.cover2 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.intro-text {
    text-align: center;
    justify-content: center;
}

.intro-text h2 {
    margin: 0;
}

.intro.dev {
    height: 40vh;
}

.gameplay {
    margin: 15vh 10vw 5vh 10vw;
    text-align: center;
}

.gameplay-list {
    display: flex;
    gap: 5vw;
    justify-content: center;
    height: 10vh;
    margin-top: 5vh;
}