/*---------------------------header---------------------------*/

.banner {
    background-image: url(image/Arcaea-interview-5.jpg);
    background-size: cover;
    height: 75vh;
    width: 100%;
    
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.title {
    text-align: center;
    margin-top: 15vh;
    font-size: 8em;
    font-style: italic;
    color: #ffe5a8;
}

.navbar {
    height: 10vh;
    display: flex;
    font-size: 5vh;
    background-color: rgb(236, 161, 255, .4);
    align-items: center;
}

.links {
    margin-left: auto;
    margin-right: 20vh;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 2vh 0 2vh;
}

/*----------------------------------------------------------*/
/*--------------------------main------------------------*/

body {
    background-color: rgb(235, 235, 235);
    margin: 0;
}

.intro {
    display: flex;
    gap: 7vw;
    margin: 15vh 10vw 5vh 10vw;
    height: 40vh;
}

.cover {
    padding: 4vh;
}

.cover img {
    flex: 1;
    width: auto;
    height: 100%;
    border-radius: 20px;
}

.intro-text {
    flex: 1;
    text-align: center;
}

.intro-text h2 {
    margin: 0;
}